BasedOnStyle: Microsoft
Language: Cpp
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
PointerAlignment: Left
